/*------------- comingSoon ------------*/
.comingSoon
{
    background: url("../../img/comingSoon-bg.png") no-repeat;
    background-size: cover;
    /*height: 900px;*/
    display: none;
	position:relative;
}
.comingSoon h1,
.comingSoonText p
{
    color: #ffffff;
    width: 600px;
    text-align: left;
    display: block;
    margin: 300px 0 0;
}
.comingSoonText p
{
    width: 400px;
    margin: 20px 0 0;
    font-family: PTSansPro, Arial, sans-serif;
    font-size: 18px;
}
.comingSoon h1 span
{
    color: #553188;
}
/*.commingSoonButton*/
/*{*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 425px;*/
    /*height: 49px;*/
    /*width: 110px;*/
    /*cursor: pointer;*/
    /*z-index: 1001;*/
/*}*/
.commingSoonButton.hide
{
    top: -49px;
    background: url('../../img/commingSoonButton-Hide.png');
    background-repeat: no-repeat;
    background-position: center;
}
/*.commingSoonButton.show*/
/*{*/
    /*top:0px;*/
    /*background: url('../../img/commingSoonButton-Show.png');*/
/*}*/

.commingSoonButton.show{
    top: 0px;
    background: url('../../img/commingSoonButton-Show.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

.commingSoonButton {
    display: block;
    position: absolute;
    /* left: 425px; */
    height: 49px;
    width: 100%;
    cursor: pointer;
    z-index: 1001;
}

/*.commingSoonButton.show*/
/*{*/
/*top:0px;*/
/*background: url('../../img/commingSoonButton-Show.png');*/
/*}*/
/*--------- ourUpdatesSubscribe ------------*/
.ourUpdatesSubscribe
{
    background: #452b6e url('../../img/cloud-bg.png') no-repeat 50% 50%;
    background: url('../../img/cloud-bg.png') no-repeat 50% 50%,
                -moz-linear-gradient(bottom, #4c3371 0%, #42276c 100%);
    background: url('../../img/cloud-bg.png') no-repeat 50% 50%,
                -webkit-gradient(linear, top bottom, color-stop(0%,#4c3371), color-stop(100%,#452b6e));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c3371', endColorstr='#452b6e',GradientType=0 );
    background: url('../../img/cloud-bg.png') no-repeat 50% 50%, linear-gradient(to bottom, #4c3371, #42276c);
}
.ourUpdatesSubscribe .contentBlock
{
    padding: 140px 0 20px;
    color: #ffffff;
    position: relative;
}
.ourUpdatesSubscribe .contentBlock h2,
.ourUpdatesSubscribe .contentBlock h3,
.ourUpdatesSubscribe .contentBlock p,
.ourUpdatesSubscribe .contentBlock .ourUpdatesSubscribe-animation img,
.ourUpdatesSubscribe .updatesSubscribe-form
{
    opacity: 0;
}
.ourUpdatesSubscribe .contentBlock h3
{
    color: #bf99f1;
}
.ourUpdatesSubscribe .contentBlock p
{
    width: 670px;
    margin: 40px auto 20px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
    font-family: Myriad Pro, sans-serif;
    font-weight: 300;
}


/*--------- ourUpdatesSubscribe-animation -------------*/
.ourUpdatesSubscribe .ourUpdatesSubscribe-animation
{
    height: 480px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}
.ourUpdatesSubscribe .ourUpdatesSubscribe-animation .animateBlock
{
    height: 300px;
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 99;
    margin-bottom: -45px;
}
.ourUpdatesSubscribe .ourUpdatesSubscribe-animation img
{
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}
.ourUpdatesSubscribe .ourUpdatesSubscribe-animation .animateBlock img
{
    display: block;
    position: absolute;
    bottom:0px;
    left: 50%;
    width: 0px;
    opacity: 1;
    z-index: 99;
}


/*------------- updatesSubscribe-form --------------------*/
.ourUpdatesSubscribe .updatesSubscribe-form
{
    width: 100%;
    display: inline-block;
    margin: 50px 0 80px;
}
.ourUpdatesSubscribe .updatesSubscribe-form label
{
    width: 100%;
    text-align: center;
    display: block;
    font-family: CoreSansM45_Regular, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.ourUpdatesSubscribe .updatesSubscribe-form .formGroup
{
    width: 380px;
    margin: 20px auto;
    display: block;
}
.ourUpdatesSubscribe .updatesSubscribe-form .formGroup input[type="text"]
{
    background: transparent;
    border: none;
    color: #ffffff;
    text-align: left;
    display: inline-block;
    height: 32px;
    font-size:16px;
    padding: 5px 10px;
    font-family: CoreSansM45_Regular, sans-serif;
    float: left;
    margin: 0;
    width: 286px;
    border: 2px solid #50b0fb;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}
.ourUpdatesSubscribe .updatesSubscribe-form .formGroup input[type="submit"]
{
    font-family: FuturaNewHeavy, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 46px;
    float: left;
    margin: 0;
    padding: 0 20px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    border: none;
    background: #50b0fb;
    cursor: pointer;
}
.ourUpdatesSubscribe .updatesSubscribe-form .formGroup input[type="submit"]:hover
{
    background: #0d91f9;
}

/*--------------- latestUpdates ----------------*/
.latestUpdates
{
    padding: 140px 0 0;
    background: #fff url('../../img/latestUpdates-bg.png') no-repeat;
    /*background-size: contain;*/
    position: relative;
}
.latestUpdates .contentBlock
{
    position: relative;
    overflow: hidden;
    margin-top: 85px;
}

/*Comming soon clock*/

.mainClock{
    position:absolute;
    bottom:120px;
    right:20px;
    height:350px;
    width:350px;
    padding-right: 200px;
}

.temporaryImage{
    display:none;
    position:absolute;
    left:0;
    top:0;
}

.outerRound{
    background:url(../../img/under-clock.png) no-repeat center center;
    height:350px;
    width:350px;
    position:relative;
    overflow:hidden;
}

.instrumentals{
    position: relative;
    top: 67px;
    left: 4px;
}

.newBigRound{
    border:3px solid #fff;
    border-radius:50%;
    position:absolute;
    top: 34px;
    left: 35px;
    height: 276px;
    width: 276px;
    -webkit-transition:all 0.99s linear;

}

.newBigDot{
    background: url(../../img/dot2.png) no-repeat top center;
    border-radius:50%;
    height: 292px;
    width: 292px;
    margin:-8px 0 0 -8px;
    -webkit-transition:all 0.99s linear;
}

.newSmallRound{
    border:3px solid #fff;
    border-radius:50%;
    position:absolute;
    top: 50px;
    left: 51px;
    height: 244px;
    width: 244px;
    -webkit-transition:all 0.99s linear;
}

.newSmallDot{
    background: url(../../img/dot2.png) no-repeat top center;
    border-radius:50%;
    height: 260px;
    width: 260px;
    margin:-8px 0 0 -8px;
    -webkit-transition:all 0.99s linear;
}

.daysNumber{
    color:#fff;
    display:block;
    font:bold 80px PTSansPro, Arial, sans-serif;
}

.cdtimer{
    position:relative;
    top:50px;
}

.daysText{
    color:#fff;
    display:block;
    font: 20px PTSansPro, Arial, sans-serif;
    letter-spacing:21px;
    text-transform:uppercase;
    position:relative;
    left:15px;
    top:-10px;
}

.hoursNumber{
    color:#fff;
    font: 40px PTSansPro, Arial, sans-serif;
}

.hoursText{
    color:#fff;
    font:bold 14px Arial;
    position:relative;
    top:-20px;
}

.hr{
    position:relative;
    top:-10px;
}

.comingSoon h1{
    font-size:54px;
}

.comingSoonText{
    position:absolute;
    left:0;
    bottom:180px;
    padding-left: 200px;
}

.ourUpdatesSubscribe-animation > img{
    background: url(../../img/bg.png) no-repeat center bottom;
    padding-bottom: 5px;
}